/* RESET */

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Uni Sans Demo', sans-serif;
    }

    ul {
        list-style: none;
    }

/* GENERAL SETTINGS */

    .container {
        max-width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    section >.container {
        width: 80vw;
        height: fit-content;
        padding: 2vh;
    }

    .container >.row {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .container.horizontal >.row{
        height: fit-content;
    }

    .container.vertical >.row {
        width: fit-content;
        height: 100%;
        align-items: center;
        flex-direction: column;
    }

/* STYLE GENERAL */

    .pill {
        text-align: center;
        border-radius: 25px;
        padding: 10px 20px;
    }

    .pill.big {
        border-radius: 25px;
        padding: 15px 25px;
    }

    .pill.lightblue {
        background-color: rgba(142,161,225,255);
        color: white;
    }

    .pill.white {
        background-color: white;
        color: black;
    }

    .pill.black {
        background-color: black;
        color: white;
    }

    div[class^="col"].svgimg {
        display: block;
        margin: auto;
    }

    .col-vertical {
        max-width: 80vw;
        text-align: center;
        height: min-content; 
    }

    [class^="col"].horizontal {
        height: fit-content;
    }
    
    .col-15 {
        width: 15%;
    }

    .col-17 {
        width: 17%;
    }

    .col-32 {
        width: 32%;
    }

    .col-40 {
        width: 40%;
    }

    .col-60 {
        width: 60%;
    }

    .col-text {
        margin: 15px;
    }

    h1 {
        font-size: 45px;
    }

/* STYLE HEADER*/

    header {
        color: white;
        margin-bottom: 50px;
    }

    /* STYLE HEADUP */
        
        .headup {
            background-color: rgba(37,94,233,255);
            padding-bottom: 30px;
            font-size: 14px;
        }

        .headup .row {
            width: 100%;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }

        .headup .container.nav {
            justify-content: center; 
            align-items: center;
            width: 100%;
        }

        .headup .container.nav .col-text {
            text-align: center;
        }

        .headup .login {
            text-align: end;
        }
    
    /* STYLE HERO */

        section.hero {
            background-image: url(./img/jumbo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            font-size: 18px;
        }    
        
        .hero >.container {
            height: 500px;
        }
        .hero .row {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .hero .col-vertical {
            width: 60%;
            height: fit-content;
            text-align: center;
        }

        .hero .text {
            padding-bottom: 40px;
        }

        .hero .title {
            font-size: 50px;
            padding-bottom: 70px;
        }

        .hero .hook {
            line-height: 35px;
            padding-bottom: 20px;
        }

/* STYLE MAIN */

    main {
        font-size: 18px;
    }

    main .container.horizontal >.row {
        align-items: center;
    }        

    .main2 >.container >.row {
        flex-direction: row-reverse;
    }

    main h1 {
        margin: 5px;
        margin-left: 0;
    }

    main >* {
        padding-bottom: 25vh;
        padding-top: 25vh;
    }

    /* horizontal */

        img.horizontal.svgimg {
            width: 100%;
        }

        .horizontal.text {
            padding: 1% 6%;
        }

        .horizontal.text h1 {
            padding-bottom: 5%;
        }

        .horizontal.text p {
            line-height: 25px;
        }

    /* vertical */

        .main4 .col-vertical.text h1 {
            padding-bottom: 15px;
        }

        .main4 .col-vertical.text p {
            margin: 0% 10%;
        }

        img.col-vertical.svgimg {
            height: 100%;
        }

        .main4 .col-vertical.calltoaction {
            background-image: url(./img/stars.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 50%;
            height: 50px;
            line-height: 100px;
            margin-bottom: 60px;
            font-weight: bold;
            font-size: 25px;
        }

/* STYLE FOOTER */

    footer {
        background-color: rgba(35,39,42,255);
        color: white;
        padding-top: 30px;
    }

    /* STYLE FOOTUP */

        .footup .social >* {
            margin-top: 20px;
        }

        .footup .social h1  {
            color: rgba(114,137,218,255);
            font-size: 30px;
            margin-top: 0;
        }

        .footup .social img {
            display: inline-block;
            max-width: 20px;
        }

        .footup .fa {
            text-align: center;
            font-size: 20px;
            width: 30px;
            color: white;
            text-decoration: none;
        }

        .footup .menu ul :first-child {
            color: rgba(114,137,218,255);
            margin: 10px;
            margin-left: 8px;
            font-size: 15px;
            font-weight: bold;
        }

        .footup .menu li {
            margin: 8px;
            font-size: 12px;
        }
    
    /* STYLE FOOTDOWN */

        section.footdown {
            padding-bottom: 50px;
        }
    
        .footdown >.row {
            border-top: solid rgb(68, 107, 214) 1px;
            padding-top: 30px;
            height: min-content;
            justify-content: space-between;
        }

        .footdown .logo,
        .footdown .button {
            height: min-content;
        }

        .footdown .button {
            text-align: end;
        }

/* DEBUG */

    .debug .container .row div[class^="col"] {
        border: dashed black 2px;
    }

    .debug .container  {
        border: dashed black 2px;
    }


    