/* RESET */

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Uni Sans Demo', sans-serif;
    }

    ul {
        list-style: none;
    }

/* GENERAL SETTINGS */

    .container {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    section >.container {
        width: 1024px;
        padding: 15px;
    }

    section .container >.row {
        width: 100%;
    }


/* STYLE GENERAL */

    .pill {
        display: inline-block;
        vertical-align: middle;
        border-radius: 35%;
        text-align: center;
        height: 50px;
        width: fit-content;
        line-height: 30px;
        font-size: 15px;
        padding: 10px;
    }

    .pill.lightblue {
        background-color: rgb(97, 98, 161);
        color: white;
    }

    .pill.white {
        background-color: white;
        color: black;
    }

    .pill.black {
        color: white;
        background-color: black;
    }

/* STYLE HEADER*/

    header {
        background-color: rgb(53, 83, 139);
        color: white;
    }
    
    /* STYLE HEADUP */

        .headup .logo img {
            display: block;
            margin: auto;
        }

        .headup .row {
            width: 100%;
            height: 60px;
            justify-content: center;
            align-items: center;
        }

        .headup .row >.column {
            height: 40px;
            line-height: 35px;
        }

        .headup .logo,
        .headup .login {
            width: 20%;
        }


        .headup .row >.nav {
            display: flex;
            justify-content: center; 
            align-items: center;   
            width: 60%;
        }

        .headup .nav >.column {
            width: 40%;
            line-height: 40px;
            text-align: center;
        }

        .headup .column.nav .column{
            margin: 5px;
        }

        .headup .login {
            justify-content: end;
            align-items: center;
        }

    /* STYLE HEADDOWN */
        section.headdown {
            background-image: url(./img/jumbo.png);
            background-size: 100% auto;
        }

        .headdown >.container {
            height: 500px;
            padding-bottom: 130px;
        }

        .headdown .row {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .headdown .row .column{
            width: 70%;
            height: min-content;
            text-align: center;
            margin: 20px;
        }

        .headdown h1 {
            font-size: 50px;
        }



/* STYLE MAIN */

    section.main1,
    section.main3 {
        background-color: white;
    }

    section.main2,
    section.main4 {
        background-color: grey;
    }

        section.main2 .container {
            flex-direction: row-reverse;
        }

    main h1 {
        font-size: 30px;
        margin: 5px;
        margin-left: 0;
    }

    /* horizontal */

        .container.main1 >.row,
        .container.main2 >.row,
        .container.main3 >.row {
            inline-size: min-content;
            align-items: start;
            width: 100%;
        }


        img.horizontal.img {
            width: 60%;
            display: block;
            margin: auto;
        }

        .horizontal.text {
            width: 40%;
            padding-left: 7%;
            padding-right: 7%;
            padding-top: 1%;
            padding-bottom: 1%;
        }

    /* vertical */

        section.main4 .container {
            flex-direction: column;
        }

        .container.main4 >.row {
            inline-size: min-content;
            align-items: center;
            width: 100%;
        }

        .column.vertical.img {
            width: 100%;
        }

        img.vertical.img {
            display: block;
            margin: auto;
        }

        .column.vertical.text {
            width: 100%;
            text-align: center;
            height: min-content;
        }

        .vertical.text * {
            margin-left: 10%;
            margin-right: 10%;
        }

        .column.vertical.text.calltoaction {
            background-image: url(./img/stars.svg);
            background-size: 100%;
            line-height: 60px;
            height: 50px;
            width: 450px;
            margin-bottom: 30px;
        }

        h1.calltoaction {
            font-size: 20px;
            display: block;
        }



/* STYLE FOOTER */

    footer {
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.712);
        color: white;
    }

    .footup .row  {
        height: min-content;
    }

    .footup .social {
        width: 30%;
    }

    .social >* {
        margin-top: 20px;
    }

    .social h1  {
        color: rgb(55, 43, 226);
        margin-top: 0;
    }

    .social img {
        display: inline-block;
        max-width: 25px;
    }

    .fa {
        text-align: center;
        font-size: 20px;
        width: 35px;
        color: white;
        text-decoration: none;
    }


    .footup .container.menu {
        width: 100%;
    }

    .footup .container.menu .column{
        width: 25%;
    }

    .footup .banner .column {
        width: 25%;
    }

    .footup .menu li {
        margin: 4px;
        font-size: 12px;
    }
    
    .footup .menu .category {
        color: rgb(55, 43, 226);
        margin: 6px;
        margin-left: 4px;
        font-size: 15px;
        font-weight: bold;
    }
    

    .footdown >.row {
        border-top: solid black 1px;
        padding-top: 30px;
        height: min-content;
        justify-content: space-between;
    }

    .footdown .logo,
    .footdown .button {
        width: 15%;
        height: min-content;
        text-align: center;
    }

    .footdown .column.button .row {
        justify-content: end;
        align-items: center;
    }

/* DEBUG */

    .debug section .container .row >.column {
        border: dashed black 2px;
    }

    .debug .footup .banner .column {
        border: dashed white 2px;
    }

    